#resposta {
    margin-left: 2%;
    width: 73%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    input {
        margin-left: 5%;
        padding: 2%;
        width: 100%;
        

        border-color: rgb(92, 83, 83);
        //border-bottom-color: #55545436;

        
        overflow-y: hidden;

        margin-bottom: 1%;

    }
    .button {
        display: flex;
        justify-content: flex-end;
        button {
            padding: 2%;
            border: none;
            color: blue;
            //margin: 5px 2px 0px 15px;
            background: none;
            :hover {
                color: #080707;
            }
        }
    }
}
