#question-data{
    //d-flex flex-row align-items-center justify-content-between    
    height: 30%;
    label{
        
        font-size: small;
    }
    select{
        margin-top: 2px;
        font-size: smaller;
        margin-bottom: 5%;
    }
    input{
        margin-top: 2px;
        font-size: smaller;
    }

}