#cad-avaliacao {
    margin: 1%;
    
    header {
        display: flex;
        //@at-root: ;
        align-items: center;
        padding: 3%;
    }
    .listQuestion{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: 30px;
    }
 
}
