#listaAvaliacao {
  header {
    display: flex;
    justify-content: space-between;
    padding: 3% 5% 2% 5%;

    span {
      display: flex;
      justify-content: center;
      font-weight: 900;
      color: green;
      width: 15%;
    }
  }
}
