#register-question {
   
    #btn{
        display: flex;
        align-items: center;
    }
    h3 {
        text-align: center;
        padding: 2%;
    }
    .questions{
        display: flex;
        justify-content: center;
        padding: 0%;
        margin-bottom: 2%;
        flex-direction: row;
        flex-wrap: nowrap;
        
        
    }
    #Question {
        
        margin-bottom: 4%;
        width: 50%;
        .card-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    
        .card.shadow.mb-6 {
            margin-bottom: 4%;
        }
        label {
            font-size: smaller;
            margin-bottom: 2%;
        }
        input {
            margin-bottom: 2%;
        }
        textarea#floatingTextarea2 {
            border-color: #fff;
            border-bottom-color: #55545436;
    
            height: 60px;
            overflow-y: hidden;
    
            margin-bottom: 1%;
            :focus-visible {
                border-color: #fff;
                border-bottom-color: #080707;
            }
        }

        .form-floating {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
        select.form-select {
            padding-top: 0px;
            padding-bottom: 0px;
            height: 30px;
            margin-right: 2%;
            padding-left: 5px;
            font-size: 13px;
            width: 30%;
            margin-bottom: 10px;
        }
    
        .type-question {
            display: flex;
            align-items: flex-end;
            justify-content: space-evenly;
            label {
                margin-left: 5px;
                margin-bottom: 0px;
            }
    
            border: 1px solid #cac3c3b3;
            border-radius: 20px;
            padding: 8px;
            margin-bottom: 5px;
        }
    
        ::-webkit-input-placeholder {
            color: rgba(143, 143, 143, 0.719);
        }
    }
}
