<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./avaliacao/style.css">
    <title>Avaliações</title>
</head>

<body>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">+</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">editar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">voltar tudo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">voltar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Avancar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Avancar todos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Inativar</a>
        </li>
        <li class="nav-item" hidden>
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Salvar e Criar Novo</a>
        </li>
        <li class="nav-item" hidden>
            <a class="nav-link" href="#">Salvar</a>
        </li>
        <li class="nav-item" hidden>
            <a class="nav-link" href="#">Cancelar</a>
        </li>
    </ul>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Avaliações</a>
        </li>
    </ul>
    <div class="container-fluid" id="avaliacao">
        <div class="col-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary" _msthash="1244893" _msttexthash="437151">Informações
                    </h6>
                    <div class="dropdown no-arrow" _msthidden="4">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink" _msthidden="4">
                            <div class="dropdown-header" _msthash="2081573" _msttexthash="267644" _msthidden="1">
                                Dropdown Header:</div>
                            <a class="dropdown-item" href="#" _msthash="1907997" _msttexthash="76466"
                                _msthidden="1">Action</a>
                            <a class="dropdown-item" href="#" _msthash="1908764" _msttexthash="232752"
                                _msthidden="1">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" _msthash="1910298" _msttexthash="349791"
                                _msthidden="1">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="dados_avalicao">
                        <label for="status">Status</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected value="1">Aberto</option>
                            <option value="2">Concluída</option>
                            <option value="3">Cancelada</option>
                        </select>

                        <label for="responsavel">Responsável</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Selecione o Responsável</option>
                            <option value="1">Elielson da Silva Santos</option>
                            <option value="2">Junior</option>
                        </select>
                        <label for="status">Senioridade</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Selecione uma Senioridade</option>
                            <option value="J">Junior</option>
                            <option value="P">Pleno</option>
                            <option value="S">Senior</option>
                        </select>

                        <label for="responsavel">Departamento</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Selecione o Departamento</option>
                            <option value="1">Suporte</option>
                            <option value="2">Administrativo</option>
                        </select>
                        <label for="responsavel">Nível de Avaliação</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected value="F">Facil</option>
                            <option value="M">Médio</option>
                            <option value="D">Díficil</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8">
            <!-- Basic Card Example -->
            <div class="card shadow mb-6">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" _msthash="1244724" _msttexthash="558675">Questão</h6>
                </div>
                <div>
                    <div class="card-body" _msthash="1039740" _msttexthash="30468386">

                        <label for="titulo_questao">Titulo da Questão</label>
                        <input type="text" class="form-control" id="floatingInput" placeholder="Titulo">
                        <label for="corpo_questao">Corpo da Questão</label>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Questão" id="floatingTextarea2"
                                style="height: 350px"></textarea>
                            <label for="floatingTextarea2"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>